## 판다스 자료형

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips')

print(tips.shape)
print(tips.columns)

(244, 7)
Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

#### 여러가지 자료형을 문자열로 변환하기 astype

In [4]:
tips['smoker_str'] = tips['smoker'].astype(str)    # 판다스에서 문자열은 오브젝트로 취급
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
smoker_str      object
dtype: object

In [5]:
tips['total_bill'] = tips['total_bill'].astype(str)
tips.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
smoker_str      object
dtype: object

In [6]:
tips['total_bill'] = tips['total_bill'].astype(float)
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
smoker_str      object
dtype: object

#### 잘못 입력한 데이터 처리하기

In [12]:
tips_sub_miss = tips.head(10)
tips_sub_miss.loc[[1,3,5,7],['total_bill']] = 'missing'

tips_sub_miss

  total_bill   tip     sex smoker  day    time  size smoker_str
0      16.99  1.01  Female     No  Sun  Dinner     2         No
1    missing  1.66    Male     No  Sun  Dinner     3         No
2      21.01  3.50    Male     No  Sun  Dinner     3         No
3    missing  3.31    Male     No  Sun  Dinner     2         No
4      24.59  3.61  Female     No  Sun  Dinner     4         No
5    missing  4.71    Male     No  Sun  Dinner     4         No
6       8.77  2.00    Male     No  Sun  Dinner     2         No
7    missing  3.12    Male     No  Sun  Dinner     4         No
8      15.04  1.96    Male     No  Sun  Dinner     2         No
9      14.78  3.23    Male     No  Sun  Dinner     2         No

In [15]:
pd.to_numeric(tips_sub_miss['total_bill'], errors='coerce')  # 잘못된 값 누락값으로 변환

0    16.99
1      NaN
2    21.01
3      NaN
4    24.59
5      NaN
6     8.77
7      NaN
8    15.04
9    14.78
Name: total_bill, dtype: float64

In [16]:
# 잘못된 값 무시
pd.to_numeric(tips_sub_miss['total_bill'], errors='ignore')

0      16.99
1    missing
2      21.01
3    missing
4      24.59
5    missing
6       8.77
7    missing
8      15.04
9      14.78
Name: total_bill, dtype: object

#### 카테고리 자료형

In [17]:
tips['smoker'] = tips['smoker'].astype('str')
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    object
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    object
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   smoker_str  244 non-null    object
dtypes: category(3), float64(1), int64(1), object(3)
memory usage: 10.8+ KB